img {
  padding: 0px 5px 0px 0px;
  margin-left: 10px;
  width: 65px;
}

h1 {
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#app-start {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.card-title {
  text-align: center;
}
