/* LOGO */

img {
  padding: 0px 5px 0px 0px;
  margin-left: 10px;
  width: 65px;
}

/* MAIN PAGE ITEMS */

h1 {
  font-family: 'Bellota Text', cursive;
  text-align: center;
  font-weight: bold;
}

body {
  font-family: 'Bellota Text', cursive;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* MAIN PAGE CARD */

.card {
  max-width: 500px;
  align-items: center;  
}

.card-title {
  text-align: center;
}

.card-verbiage {
  text-align: center;
}

#card-start {
  align-items: center;
  display: flex;
}

/* CAROUSEL */

#carousel {
  margin-bottom: 100px;
}

/* BUTTON */

#app-start {
  margin-bottom: 20px;
}

/* MOVIE SECTION ITEMS */

.header-1 {
  text-align: center;
  padding-top: 3%;
  color: black;
  font-size: 40px;
}

footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
}

.dropdown-content li>span {
  font-size: 16px;
  color: black;
  display: block;
  line-height: 22px;
  padding: 14px 16px;

  
/* red used #d50000 red and gold is #ffc107 */
